<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/toggle.css">
    <link rel="stylesheet" href="css/navigation.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Ama Soundboard</title>
</head>

<body ng-controller="buttonsController">
        <a href="#menu" id="toggle"><span></span></a>
    <div class="navbar">
        <h2 class="navbar__title">Sounds List</h2>
        <ul class="buttons-nav-list">
            <!-- <li ng-repeat="soundButton in soundButtons">
                <sound-button sound="{{soundButton.sound}}">{{soundButton.name}}</sound-button>
            </li> -->
        </ul>
        <ul class="buttons-nav-list">
            <li ng-repeat="soundButton in soundButtons">
                <sound-button sound="{{soundButton.sound}}">{{soundButton.name}}</sound-button>
            </li>
        </ul>
    </div>
    <div class="main">

        <div class="speaker">
            <img class="speaker__img img-responsive" src="./assets/images/speaker.png" />
        </div>

        <div class="row title">
            <div class="col-xs-12">
                <h1>Press a button sir!</h1>
            </div>
        </div>

        <div class="buttons">

            <!-- Frustata -->
            <!-- Hey tu qual'è il tuo mestiere -->
            <!-- Il vasaio signore -->
            <!-- Elefante -->
            <!-- Bovello -->
            <!-- Raj tbbt racist -->

            <ul class="buttons-board-list">
                <li ng-repeat="soundButton in soundButtons">
                    <sound-button sound="{{soundButton.sound}}">{{soundButton.name}}</sound-button>
                </li>
            </ul>
        </div>

    </div>

    <script src="./angular.min.js" charset="utf-8"></script>
    <script src="./app.js" charset="utf-8"></script>
    <script src="./jquery.min.js" charset="utf-8"></script>
    <script src="./global.js" charset="utf-8"></script>
</body>

</html>
